
<ng-container [formGroup]="assigneeFormGroup">
  <mat-form-field fxFlex class="mat-block" style="margin-bottom: 25px"
                  (click)="openAlarmAssigneeSelectPanel($event)"
                  subscriptSizing="dynamic">
    <mat-label translate>alarm.assignee</mat-label>
    <input matInput readonly formControlName="assignee">
    <span *ngIf="assignee" matPrefix class="user-avatar"
          [style.backgroundColor]="getAvatarBgColor()">
      {{ getUserInitials() }}
    </span>
    <mat-icon *ngIf="!assignee" matPrefix class="unassigned-icon">account_circle</mat-icon>
    <mat-icon *ngIf="!disabled" matSuffix>arrow_drop_down</mat-icon>
  </mat-form-field>
</ng-container>
