
<form [formGroup]="colorPickerFormGroup" (ngSubmit)="select()" style="width: 320px">
  <div mat-dialog-content style="padding: 16px; display: flex">
    <tb-color-picker formControlName="color"></tb-color-picker>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button mat-button
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-button
            type="submit"
            [disabled]="(isLoading$ | async) || colorPickerFormGroup.invalid || !colorPickerFormGroup.dirty">
      {{ 'action.select' | translate }}
    </button>
  </div>
</form>
