
<div fxFlex fxLayout="column" style="width: 100%;">
  <div fxLayout="row" style="width: 100%;">
    <nav fxFlex *ngIf="!routerOutlet?.activatedRouteData?.hideTabs && !hideCurrentTabs && (tabs$ | async).length > 1" mat-tab-nav-bar mat-stretch-tabs="false" class="tb-router-tabs" [tabPanel]="tabPanel">
      <a *ngFor="let tab of tabs$ | async"
         routerLink="{{tab.path}}"
         routerLinkActive
         #rla="routerLinkActive"
         mat-tab-link
         [active]="rla.isActive">
        <mat-icon *ngIf="!tab.isMdiIcon && tab.icon !== null" class="tb-mat-18">{{tab.icon}}</mat-icon>
        <mat-icon *ngIf="tab.isMdiIcon && tab.icon !== null" [svgIcon]="tab.icon" class="tb-mat-18"></mat-icon>
        <span>{{tab.name | translate}}</span>
      </a>
    </nav>
    <tb-anchor #tabsHeaderComponent></tb-anchor>
  </div>
  <mat-tab-nav-panel #tabPanel fxFlex fxLayout="column" class="tb-router-tabs-content">
    <router-outlet #routerOutlet="outlet" (activate)="activeComponentChanged($event)"></router-outlet>
  </mat-tab-nav-panel>
</div>
