
<section [formGroup]="stringItemsForm">
  <mat-form-field fxFlex class="mat-block" [floatLabel]="floatLabel" [appearance]="appearance" [subscriptSizing]="subscriptSizing">
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <mat-chip-grid #itemsChipList formControlName="items" [required]="required">
      <mat-chip-row *ngFor="let item of stringItemsList"
                [removable]="!disabled"
                [contentEditable]="editable && !disabled"
                (removed)="removeItems(item)">
        {{item}}
        <mat-icon matChipRemove *ngIf="!disabled">close</mat-icon>
      </mat-chip-row>
      <input placeholder="{{ placeholder }}"
             [matChipInputFor]="itemsChipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             matChipInputAddOnBlur
             (matChipInputTokenEnd)="addItem($event)">
    </mat-chip-grid>
    <mat-hint>{{ hint }}</mat-hint>
    <mat-error *ngIf="stringItemsForm.get('items').hasError('required')">{{ requiredText }}</mat-error>
  </mat-form-field>
</section>
